.selectedPage{
    font-weight: bold;
}
.pageNumber:hover{
    color: red;
    transition: 0.1s;
}
.pageNumber{
    color: black;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid black;
    margin: 6px;
}

